<include("src/layouts/default")>
    <@styles>
        <link href="/static/bundle.css" media="all" rel="stylesheet" />
    </@styles>
    <@scripts>
        <script src="/static/bundle.js"></script>
    </@scripts>
    <@title>
        Awly.io Docs
    </@title>
    <@body>
        <h2></h2>
    </@body>
</include>