<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><include(data.title)/></title>

    <style inline-css="/assets/css/normalize.css"></style>
    <style inline-css="/assets/css/system-fonts.css"></style>

    $!{out.global.injectCSS}
</head>
<body>
    <div><include(data.body)/></div>

    $!{out.global.injectJS}

    <awly-hot-reload show-only-in-env("dev") />
</body>
</html>

style.scss {

}
