<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><include(data.title)/></title>

    <include(data.styles)/>
</head>
<body>
    <include(data.body)/>
    <include(data.scripts)/>
</body>
</html>
